body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 20px;
}

button, input[type="text"] {
    margin: 10px;
    padding: 10px 20px;
    font-size: 16px;
}

button:hover {
    background-color: #f0f0f0;
}

form {
    margin: 20px 0;
}

input[type="text"] {
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
    width: 200px;
}

#usersList {
    list-style-type: none;
    padding: 0;
    text-align: left;
    max-width: 400px;
    margin: 20px auto;
}

#usersList li {
    padding: 10px;
    border: 1px solid #ddd;
    margin-bottom: 10px;
    border-radius: 4px;
}
